<launch>
  <node pkg="unitree_livox_converter"
        type="pointcloud2_to_livox_custom"
        name="pointcloud2_to_livox_custom"
        output="screen">
  <param name="input_topic" value="/livox/lidar_raw"/>
  <param name="output_topic" value="/livox/lidar"/>
  <param name="frame_id" value="livox_frame"/>
  <param name="lidar_id" value="0"/>

  <param name="time_mode" value="0"/>
  <param name="scan_period_us" value="100000"/>
  <param name="debug_print_points" value="8"/>
  </node>
</launch>