<launch>
  <node pkg="unitree_mid360_ros1_bridge"
        type="mid360_dds_to_ros1_node"
        name="mid360_dds_to_ros1_node"
        output="screen">

    <param name="lidar_topic_out" value="/livox/lidar_raw"/>
    <param name="imu_topic_out" value="/livox/imu"/>

    <param name="lidar_frame_id" value="livox_frame"/>
    <param name="imu_frame_id" value="livox_imu"/>

    <!-- 建议优先保留原始 DDS 时间戳 -->
    <param name="use_ros_now_for_stamp" value="false"/>
  </node>
</launch>